.title {
	margin: 0;
	display: inline-block;
	border:1px solid #bcbcbc;
	border-radius: 50px;
	//line-height: 40px;
	font-size: 15px;
	padding: 10px 30px;
	color: #bcbcbc;
}

.thumbnail {
	.caption {
		h3 {
			font-size: 14px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-weight: 200;
		}
		 a{
		 	color: #bcbcbc;
		 }
	}
}